<div class="sidebar" [ngClass]="{'show': isSidebarOpen}">
  <!-- <h5 class="mb-4">Sidebar</h5> -->
  <ul class="nav flex-column">
      <li class="nav-item active">
          <a class="nav-link text-white" href="#">
            <i class="fa fa-home"></i>
            Dashboard
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-white" href="#">
            <i class="fa fa-user"></i>
            Profile
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-white" href="#">
            <i class="fa fa-cog"></i>
            Settings
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-white" href="#">
            <i class="fa fa-sign-out"></i>
            Logout
          </a>
      </li>
  </ul>
</div>
