<div class="page-header mb-4">
  <div class="d-flex flex-column justify-content-center">
    <h3 class="main-title">Category</h3>
    <p class="sub-title">Category Management</p>
  </div>

 <div class="ms-auto">
  <app-add-category  (categoryAdded)="onCategoryAdded()"></app-add-category>
 </div>

</div>

<div class="card mt-3">

  <table id="datatable" class="table table-bordered">
    <thead>
      <tr class="table-dark">
        <th>ID</th>
        <th>Category Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (category of categories; track category.id) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ category['name'] }}</td>
          <td>
            <a href="#" class="btn action-btn btn-success">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <button class="btn action-btn btn-danger" (click)="deleteCategory(category.id)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

</div>
