
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <app-skew-shadow-card></app-skew-shadow-card>
  </div>
  <div class="col">
    <app-bubble-shadow-card></app-bubble-shadow-card>
  </div>
  <div class="col">
    <app-curves-shadow-card></app-curves-shadow-card>
  </div>
</div>

<div class="row row-cols-1 row-cols-lg-3 g-4 progress-cards">
  <div class="col">
    <app-progress-card></app-progress-card>
  </div>
  <div class="col">
    <app-progress-card></app-progress-card>
  </div>
  <div class="col">
    <app-progress-card></app-progress-card>
  </div>
</div>
