@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import 'bootstrap-icons/font/bootstrap-icons.css';


:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #4f5962;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Poppins', sans-serif !important;
  font-size: 1rem;
  height: 100vh !important;
  position: relative;
  top: 0;
  left: 0;
  background-color: #F5F7FD !important;
}

.text-soft-danger {
  color: #ff7777 !important;
}

.btn-primary {
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
  color: var(--white) !important;
}

.main-content {
  transition: all 0.3s ease-in-out;
  margin-top: 70px;
  color: var(--dark);
}

.sidebar-margin {
  transition: all 0.3s ease-in-out;
  margin-left: 250px;
}

@media (max-width: 768px) {
  .main-content {
    margin-top: 70px;
  }

  .sidebar-margin {
    margin-left: 0;
  }
}

.main-content .main-title {
  color: var(--gray-dark);
  font-weight: 700;
}

.main-content p.sub-title {
  position: relative;
  bottom: 3px;
  color: rgba(128, 128, 128, 0.858);
  margin-bottom: 0;
}

/* dashboard  card style start */

.card-secondary {
  overflow: hidden;
}

.skew-shadow::before,
.bubble-shadow::before,
.bubble-shadow::after,
.curves-shadow::before {
  max-width: 100%;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.card.card-secondary {
  background: var(--orange) !important;
  color: #fff !important;
  border: 0 !important;
}

.pull-right {
  float: right;
}

.op-8 {
  opacity: .8 !important;
}

.card-secondary h5 {
  font-size: 1.3rem;
  font-weight: 400;
}

/* dashboard  card style end */

/* another cards */
.card,
.card-light {
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
  -moz-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
  box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
  border: 0;
}

.fw-bold {
  font-weight: 600 !important;
}

.bg-orange {
  background-color: #FD953E !important;
}

.text-orange {
  color: #FD953E !important;
}

.progress-cards .progress {
  height: 5px;
  border-radius: 5px;
}

.card {
  margin-bottom: 0;
  background-color: var(--white) !important;
  border: none !important;
  padding: 15px;
}

.page-header {
  display: flex;
  align-items: center;
}

.page-header button.right-btn,
.page-header button.right-btn:focus-visible
 {
  margin-left: auto;
  border: none;
  padding: 10px 15px;
  border-radius: 0 7px;
  color: var(--white);
  background-color: var(--orange);
  outline: none !important;
}
.btn{
  border-radius: 0 7px !important;
}

.dt-container label {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.dark-bg {
  background-color: var(--gray-dark) !important;
  color: var(--white) !important;
}

.dt-layout-cell,
.dt-layout-full {
  overflow-x: auto;
}

.modal-content {
  border-radius: none !important;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border: 0 !important;
  justify-content: space-between;
}

.modal-header button.close {
  border: none;
  background-color: transparent;
}

.modal-header .close i {
  font-size: 30px;
  color: var(--dark);
  opacity: 1;
  border: 0;
}

.modal-header .close i:hover {
  color: var(--orange);
}

.modal .modal-title {
  font-weight: 600;
}

.modal-footer {
  border: 0 !important;
}

.table-dark,
.table-dark th {
  background-color: var(--gray-dark) !important;
  color: var(--white) !important;
}

.action-btn {
  border: none;
  color: var(--gray-dark) !important;
  border: none !important;
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 10px;
  border-radius: 3px !important;
}

.action-btn i {
  font-size: 18px;
}

.action-btn.btn-danger {
  background-color: #ffaab385 !important;
  color: #ff6565 !important;
  border: 1px solid #ffb3b3 !important;
}

.action-btn.btn-success {
  background-color: #ceffdeba !important;
  color: #3bba0de6 !important;
  border: 1px solid #9ce382a1 !important;
}
