<button class="right-btn" (click)="openForAdd()">
  <i class="fa-solid fa-plus"></i>
  Add Category</button>

<div class="modal fade" id="createCategoryModal" tabindex="-1" aria-labelledby="createCategoryModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <form (submit)="submitCategory()" #categoryForm="ngForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createCategoryModalLabel">
            {{ mode === 'edit' ? 'Edit' : 'Add' }} Category
          </h1>
          <button type="button" class="close mr-2" data-bs-dismiss="modal" aria-label="Close" #closeModalButton>
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="category-name" class="form-label">Category Name</label>
            <input type="text" class="form-control" [(ngModel)]="name" name="name" id="category-name"
            #categoryNameInput required />

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit"  [disabled]="categoryForm.invalid">
            {{ mode === 'edit' ? 'Update' : 'Add' }} Category
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
